flows (1).json
[{"id":"e9f5166d.ca0778","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"116ddaf7.1643e5","type":"function","z":"e9f5166d.ca0778","name":"total","func":"msg.payload=msg.payload.stock_total\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":280,"wires":[["a77d2959.8e20e8","6df5b490.26e33c"]]},{"id":"6df5b490.26e33c","type":"ui_text","z":"e9f5166d.ca0778","group":"5c2407d6.4ffb18","order":14,"width":0,"height":0,"name":"","label":"total stock","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":360,"wires":[]},{"id":"a77d2959.8e20e8","type":"debug","z":"e9f5166d.ca0778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":240,"wires":[]},{"id":"19c2c82c.059b58","type":"ibmiot in","z":"e9f5166d.ca0778","authentication":"apiKey","apiKey":"ee4a5f48.57e6a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"7011","applicationId":"","deviceType":"vitap","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":260,"wires":[["116ddaf7.1643e5","419b35b8.97217c","d3d979b1.fea35","4a170850.ab1188"]]},{"id":"419b35b8.97217c","type":"cloudant out","z":"e9f5166d.ca0778","name":"","cloudant":"","database":"inventory_management_system","service":"node-red-suvlk-2021--cloudant-1625752175678-72552","payonly":false,"operation":"insert","x":730,"y":120,"wires":[]},{"id":"d3d979b1.fea35","type":"function","z":"e9f5166d.ca0778","name":"products","func":"msg.payload=msg.payload.products\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":440,"wires":[["a77d2959.8e20e8","c31c048b.307c6"]]},{"id":"4a170850.ab1188","type":"function","z":"e9f5166d.ca0778","name":"stock","func":"msg.payload=msg.payload.quantity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":560,"wires":[["a77d2959.8e20e8","53e221c2.92854"]]},{"id":"c31c048b.307c6","type":"ui_text","z":"e9f5166d.ca0778","group":"5c2407d6.4ffb18","order":14,"width":0,"height":0,"name":"","label":"Products","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":480,"wires":[]},{"id":"53e221c2.92854","type":"ui_text","z":"e9f5166d.ca0778","group":"5c2407d6.4ffb18","order":14,"width":0,"height":0,"name":"","label":"Quantity","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":620,"wires":[]},{"id":"5c2407d6.4ffb18","type":"ui_group","name":"stock","tab":"391158bd.262508","order":1,"disp":true,"width":"10","collapse":false},{"id":"ee4a5f48.57e6a","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"391158bd.262508","type":"ui_tab","name":"inventory management system","icon":"dashboard","disabled":false,"hidden":false}]